@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

footer svg{
  display: flex;
  margin: 0;
  position: relative;
  width: 100%;
  margin-bottom: 0px;
  bottom: -42px;
}

footer .icons{
  position:relative;
  z-index: 2;
  top: 125px;
}

footer .icons a{
  font-size: 1.4rem;
}
