.hero-text-margin-y {
  margin-top: 9rem;
  margin-bottom: 1rem;
}

.hero-img {
  position: sticky;
  top: 30%;
  left: 13%;
  height: 70%;
}

.round {
  width: 95%;
  padding-top: 14%;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  height: 133%;
  background-color: rgba(0, 0, 1, 0.3);
  left: 201px;
  top: -251px;
}

.btn-outline {
  border: 2px solid black;
}

.circle {
  background-color: #3579fd;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 100%;
  position: absolute;
  width: 820px;
  height: 820px;
  right: -143px;
  top: -193.59px;
}

.circle-mobile {
  background-color: #3579fd;
  border-radius: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  width: 420px;
  height: 420px;
  right: -210px;
  top: -5.5rem;
  z-index: -5;
}

.circle-mobile img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: sticky;
  top: 30%;
  left: 13%;
  height: 70%;
}
